.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.title{
  margin-left: 2rem;
  cursor: pointer;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

.header a:hover,
.header a:active {
  color: #cccc;
}

.header button {
  font-size: 1.25rem;
  background-color: white;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #2c2922;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
}

.header button:hover,
.header button:active {
  background-color: black;
  border-color: #cccc;
  color: white;
}

.mobileMenu{
  display: none;
  color: white;
  margin: auto;
  transform: scale(1.75);
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.disablec{
  display: none;
}

.mobileMenuIcon{
  margin-top: 25%;
  margin-left: 20%;
  position: absolute;
}
.navBar{
  display: flex;
}


.lgMenu li{
 display: flex;
}

.mobMenu{
  width: 100%;
  height: 200vh;
  background-color: black;
  margin-left: auto;
  z-index: 1;
}

.mobileMenu a{
  z-index: 2;
  color: white;
}

.mobMenu h1 {
  color: white;
}

/* @media screen and (max-width: 700px) {
  .mobileMenu{
    display: flex;
  }

  .lgMenu li{
    display: none;
  }
} */

@media screen and (max-width: 700px) {
  .title{
    font-size: 1rem;
  }
  
  .mobileMenu{
    display: flex;
    transform: scale(1.25);
    transform: translateX(0.5rem);
  }

  .lgMenu li{
    display: none;
  }
}
